h1{
    font-size: 70px;
    text-align: right;
    margin-top: 200px;
    margin-right: 400px;
}
p{
    font-size: large;
    margin-top: 30px;
    margin-right: 400px;
    text-align: right;
      
}
.img1{
    
    position: absolute;
    margin-top: 20px;
    margin: 160px;
    padding-right: 20%;
   
   bottom: -20%;
}