.img2{
    /* position: absolute; */
    float: right;
   margin-top: 140px;
   padding-right: 400px; 
}
.text{
    font-size: large;
    margin-top: 140px;
    margin-left: 200px;
}
.new{
    font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 55px;
display: flex;
align-items: center;

color: #240D57;

}
h6{
 
font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 15px;
color: #828282;
margin-top: -10px;
}
p{margin-top: 10px;
    font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
/* identical to box height */
width: 400px;

color: #240D57;
}
span{
    font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: #4F4F4F;
}

button{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px;
gap: 10px;

position: absolute;
width: 220px;
height: 45px;
left: calc(50% - 320px/2 + 436px);
 margin-left: -800px;
 margin-top: 480px;
 /* margin-right: 700px; */
 /* top: 622px; */

background: linear-gradient(90deg, #8456EC 3.25%, #E87BF8 100%);
border-radius: 10px;
font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
/* identical to box height */
text-align: right;
color: #FFFFFF;
}

body{
    
}

/* --------------------------------------------------------------------------------------------- */